# inlined shared variables, no needs of encryption

[[ -z "$GITHUB_WORKSPACE" ]] &&
  source_up

[[ -z "$(command -v nix)" ]] &&
  return

[[ -f .envrc~${USERNAME} ]] && source .envrc~${USERNAME}
  
pushd .devenv
use flake . --impure
popd
